<h1>Clientes [HELLO KITY]</h1>
<ul ng-repeat="customer in customersCtrl.clientes">
<li><span>name:  </span>{{customer.name}}</li>
<li><span>email: </span> {{customer.email}}</li>
<li><span>town: </span> {{customer.town}}</li>
<li><span>city: </span> {{customer.city}}</li>
<li><span>country: </span> {{customer.country}}</li>
<li><span>zip_code: </span> {{customer.zip_code}}</li>
<li><span>cif: </span> {{customer.cif}}</li>
<li><span>phone: </span> {{customer.phone}}</li>
<div class ="bottom"><a  ui-sref="customer({cliente_id: customer.id})" > VER </a> </div>

<div class ="bottom"><a class ="bottom" href="" ng-click="customersCtrl.removeCustomer(customer)"> BORRAR </a>


</ul>




