<ul ng-repeat="customer in customerCtrl.customer">
<li><span>name:  </span>{{customer.name}}</li>
<li><span>email: </span> {{customer.email}}</li>
<li><span>town: </span> {{customer.town}}</li>
<li><span>city: </span> {{customer.city}}</li>
<li><span>country: </span> {{customer.country}}</li>
<li><span>cif: </span> {{customer.cif}}</li>
<li><span>phone: </span> {{customer.phone}}</li>
<div class ="bottom"><a  ui-sref="su_nabo_gordo({su_nabo_gordo_id: customer.id})" > VER </a> </div>

<div class ="bottom"><a class ="bottom" href="" ng-click="customerCtrl.removeCustomer(customer)"> BORRAR </a>

</ul>

