<form name="formulario_nuevo_cliente" ng-submit="ctrl.guardarCliente()"><br>
<div class="formulari_c">
    <label for="formulario_nuevo_cliente">Cliente</label>
    <input ng-class="{ 'has-error':ctrl.errors.name }" ng-model="ctrl.formularioCliente.name" type="text" class="form-control"> 


    <label for="formulario_nuevo_cliente">Email</label>
    <input ng-class="{ 'has-error':ctrl.errors.email }" ng-model="ctrl.formularioCliente.email" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">Dirección</label>
    <input ng-class="{ 'has-error':ctrl.errors.address }" ng-model="ctrl.formularioCliente.address" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">Pueblo</label>
    <input ng-class="{ 'has-error':ctrl.errors.country }" ng-model="ctrl.formularioCliente.country" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">Municipio</label>
    <input ng-class="{ 'has-error':ctrl.errors.city }" ng-model="ctrl.formularioCliente.city" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">Pueblo</label>
    <input ng-class="{ 'has-error':ctrl.errors.town }" ng-model="ctrl.formularioCliente.town" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">zip_code</label>
    <input ng-class="{ 'has-error':ctrl.errors.zip_code }" ng-model="ctrl.formularioCliente.zip_code" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">Cif</label>
    <input ng-class="{ 'has-error':ctrl.errors.cif }" ng-model="ctrl.formularioCliente.cif" type="text" class="form-control">

    <label for="formulario_nuevo_cliente">Telefono</label>
    <input ng-class="{ 'has-error':ctrl.errors.phone }" ng-model="ctrl.formularioCliente.phone" type="text" class="form-control">
      <button type="submit" class="guardar">Guardar</button>
</form>
</div>