<customer-title></customer-title>
<div class=formulario>

	<label for="projectName">Nombre</label>
    <input class="form-control" type="text" ng-model="customerCtrl.newClientes.name"> </input>

    <label for="projectName">email</label>
    <input class="form-control" ng-model="customerCtrl.newClientes.email" type="text"> </input>

    <label for="projectAddress">address</label>
    <input class="form-control" ng-model="customerCtrl.newClientes.address" type="text"> </input>

	<label for="projectTown">town</label>
    <input class="form-control" type="text" > </input>

    <label for="projectCity">city</label>
    <input class="form-control" ng-model="customerCtrl.newClientes.city" type="text"> </input>

    <label for="projectCountry">country</label>
    <input class="form-control" type="text" > </input>

   

    <label for="projectCif">cif</label>
    <input class="form-control" ng-model="customerCtrl.newClientes.cif" type="text"> </input>

    <label for="projectPhone">phone</label>
    <input class="form-control" type="text" ng-model="customerCtrl.newClientes.phone" > </input>

    <a class="guardar" href="#">GUARDAR</a>
    </div>