
<ul>
<li><span>name:  </span>{{naboCtrl.customer.name}}</li>
<li><span>name:  </span>{{naboCtrl.customer.name}}</li>
<li><span>address:</span> {{naboCtrl.customer.address}}</li>
<li><span>city: </span> {{naboCtrl.customer.city}}</li>
<li><span>town: </span> {{naboCtrl.customer.town}}</li>
<li><span>country: </span> {{naboCtrl.customer.country}}</li>
<li><span>zip_code: </span> {{naboCtrl.customer.zip_code}}</li>
<li><span>cif: </span> {{naboCtrl.customer.cif}}</li>
<li><span>phone: </span> {{naboCtrl.customer.phone}}</li>
<li><span>email: </span> {{naboCtrl.customer.email}}</li>
<li><span>id: </span> {{naboCtrl.customer.id}}</li>
<li><a ui-sref="home" > ATRAS </a> </li>
</ul>